*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins",sans-serif;
}

:root{
    --bg-color:#080808;
    --second-bg-color:#131313;
    --text-color:white;
    --main-color:#c0c0c0;
    --box-shadow:#8d8a8a;
    --pg-bg:rgb(83, 82, 82);


}
body{

background: black;
font-family: "Poppins",sans-serif;
 color: var(--text-color); 
/* background-image: linear-gradient(to right top, #585356, #565256, #535156, #505056, #4c4f56, #4a5159, #47535c, #43555e, #3f5a63, #3b5f67, #376569, #346a6a); */
/* background-image: linear-gradient(to right top, #001e77, #05277e, #0c3085, #13398c, #1a4293, #06478f, #004b8a, #004e84, #004a6e, #004456, #143b41, #233231); */
}

html::-webkit-scrollbar{
width: 0.8rem;
}

html::-webkit-scrollbar-track{
background: var(--box-shadow);
}

html{
background: var(--bg-color);
}

.header{
position: fixed;
top: 0;
left: 0;
width: 100%;
z-index: 100;
display: flex;
align-items: center;
justify-content: space-between;
padding: 3rem 9%;
height: 6.5rem;
background: rgba(0, 0,  0, 0.7);
backdrop-filter: blur(20px);

}

.logo{
font-size: 2rem;
/* color: var(--main-color); */
background-image:  linear-gradient(43deg, #f9e907 5%, #26e309 45%, #da1811 100%);
-webkit-background-clip: text;
color: transparent;
font-weight: 800;
cursor: pointer;
transition: 0.3s ease;

}
.logo:hover{
transform: scale(1.1);
text-shadow: 0 0 50px var(--main-color);
}
.color{
/* color: #01fe87; */
/* color: gold; */
background-image:  linear-gradient(43deg, #f9e907 5%, #06ffea 45%, #ffffff 100%);
-webkit-background-clip: text;
color: transparent;

}

.navbar ul{
display: flex;
list-style: none;

}
.navbar ul li a{
color: var(--main-color);
font-size: 1.8rem;
margin-left: 4rem;
border-bottom:3px solid transparent;
transition: 0.3s ease;

}

.navbar ul li a:hover,
.navbar ul li a:active{
border-bottom: 3px solid var(--main-color);
text-shadow: 0 0 40px var(--main-color);
}
#menu-icon{
font-size: 3.6rem;
color: var(--main-color);
display: none;
}
/* @media(max-width:768px){
    #menu-icon{
    display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3%;
        background: black;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        border-bottom-left-radius: 2rem ;
        display: none;
        }
        .navbar .active{
        display: block;
        }
        .header .navbar ul{
        flex-flow: column;
        
        }
        .navbar ul li{
        text-align: center;
        width: 100%;
        border-radius:0.6rem ;
        
        }
        .navbar ul li a{
        display: block;
        padding: 1rem;
        text-align: left;
        font-size: 2rem;
        color: white;
        }
        .navbar ul li a.active,
        .navbar ul li a:hover{
        padding: 1rem;
        color: white;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid var(--main-color);
        }
        
} */
@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    padding: 1rem 3%;
    background: black;
    border-left: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    border-bottom-left-radius: 2rem;
    display: none; 
  }
  .navbar.active { 
    display: block;
  }
  .header .navbar ul {
    flex-flow: column;
  }
  .navbar ul li {
    text-align: center;
    width: 100%;
    border-radius: 0.6rem;
  }
  .navbar ul li a {
    display: block;
    padding: 1rem;
    text-align: left;
    font-size: 2rem;
    color: white;
  }
  .navbar ul li a.active,
  .navbar ul li a:hover {
    padding: 1rem;
    color: white;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid var(--main-color);
  }
}

/* home selection */

.home{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 1rem;

}

.home-centent{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
margin-top: 3rem;
}
.home-img{
border-radius: 50%;
margin: 5rem;
}
.home-img img{
margin-bottom: -5rem;
position: relative;
border-radius: 50%;
top: 3rem;
width: 22vw;
height: 22vw;
object-fit: cover;
box-shadow: 0 0 15px var(--box-shadow),
            0 0 25px var(--box-shadow);     
cursor: pointer;                 
transition: 0.3s ease;
}
.home-img img:hover{
    box-shadow: 0 0 50px var(--box-shadow),
                0 0 100px var(--main-color);
                
}
.home-centent h1{
    font-size: 6rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
  }
  
  .home-centent h3{
    position: relative;
    font-size: 3.5rem;
    color: #252839;
    -webkit-text-stroke: 0.3vw #383d52;
    text-transform: uppercase;
  }
  
  .home-centent h3::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    /* color: #01fe87; */
    /* color: gold; */
    /* -webkit-text-stroke: 0vw #383d52; */
    background-image:  linear-gradient(43deg, #ffffff 5%, #15ff00 45%, #da1811 100%);
    -webkit-background-clip: text;
    color: transparent;
    border-right: 6px solid #01fe87;
    overflow: hidden;
    animation: animate 4s linear infinite;
  }
  
  

  @keyframes animate {
    0%, 10%, 100% {
      width: 0;
    }
    70%, 90% {
      width: 100%;
    }
  }
  
  .home-centent p{
    font-size: 1.5rem;
    font-weight: 500;
    max-width: 900px;
  }
  .home-centent .social-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
  }
  
  .home-centent .social-icon a:hover {
    transform: scale(1.3) translateY(-5px);
    text-shadow: 0 0 25px var(--main-color);
  }
  
.btn{

display: inline-block;
padding: 1rem 2.8rem;
background: var(--main-color);
box-shadow: 0 0 25px var(--main-color);
font-size: 1.6rem;
border-radius: 4rem;
color: black;
border: 2px solid transparent ;
letter-spacing: 0.1rem;
font-weight: 600;
transition: 0.3s ease-in-out;
cursor: pointer;
}
.btn:hover{
transform: scale(1.05);
/* background:transparent;
color: white; */
background-image:  linear-gradient(43deg, #ffffff 5%, #ffff00 45%, #da1811 100%);
-webkit-background-clip: text;
color: transparent;
border: 2px solid white;

}
@media(max-width:895px){
   .home{
   flex-direction: column;
   margin: 5rem 4rem;
   }
   .home-centent h1{
   font-size: 3.9rem;
   margin-top: 3rem;
   }
   .home-centent h3{
   font-size: 2.6rem;
   }
   .home-centent p{
   max-width: 600px;
   margin: 0 auto;
   }
   .home-img img{
   width: 56vw;
   height: 56vw;
   margin-top: -2rem;
   }
   
}


/* services section */
section{
min-height: 100vh;
}

.heading{
font-size: 6rem;
text-align: center;
}

.services{

/* background: var(--second-bg-color); */
background-image:  linear-gradient(43deg, #d9cc14 40%, #01ff12 45%, #ff0101 100%);
-webkit-background-clip: text;
color: transparent;

}

.services .services-container{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
gap: 3rem;

}

.services-container .services-box{
flex: 1 1 40rem;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: var(--main-color);
color: black;
padding: 3rem 2rem 4rem;
height: 400px;
width: 350px;
border-radius: 2rem;
border: 2px solid transparent;
cursor: pointer;
transition: 0.5s ease;
}

.services-container .services-box:hover{
transform: scale(1.02);
background: transparent;
color: var(--text-color);
border: 2px solid solid var(--main-color);
}

.services-box i{
font-size: 6rem;
margin-bottom: 1rem;

}
.services-box h3{
font-size: 2.6rem;
}
.services-box p{
font-size: 1.6rem;
margin: 1rem 0 3rem;
}
.services-box .btn{
background: black;
color: white;
}
.services-box .btn:hover{
color: rgb(255, 255, 255);
background-image:  linear-gradient(43deg, #edf907 5%, #00f7c5 45%, #da1811 100%);
-webkit-background-clip: text;
color: transparent;
/* background: transparent;
filter: 0 0 15px white;
border: 1px solid rgb(255, 255, 255); */

}

/* Education section */


.education{
background: var(--bg-color);

}
.education .timeline{
position: relative;
max-width: 1200px;
margin: 0 auto;

}
.education .timeline::after{
content:'';
position: absolute;
width: 6px;
/* background: rgb(90, 64, 64); */
background:var(--box-shadow);
top: 0;
bottom: 0;
left: 50%;
margin-left: -3px;
z-index: -2px;
}

.education .container{
padding: 10px 40px;
position: relative;
background-color: inherit;
width: 50%;
}
/* 
.education .container::after{
  content: '\f501';
  position: absolute;
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 1.89rem;
  right: -17px;
  background:black;
  border: 4px solid white;
  top: 15px;
  border-radius: 50%;
  z-index: 100;
  text-align: center;
  font-weight: 600;
  font-family: "Font Awesome 5 Free";
  font-size: 17.5px;
  color: rgb(230,28,28);
  } */
.education .container::after {
  content: '\f501';
  position: absolute;
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 1.89rem;
  right: -17px;
  background: black;
  border: 4px solid rgb(21, 0, 255);
  top: 15px;
  border-radius: 50%;
  z-index: 100;
  text-align: center;
  font-weight: 600;
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  color: rgb(230, 28, 28);
} 


.education .left{
left: 0;
}

.education .right{
left: 50%;
}

.education .left::before{
content: '';
height: 0;
position: absolute;
top: 22px;
width: 0;
z-index: 1;
right: 30px;
border: medium solid var(--main-color);
border-width: 10px 0 10px 10px;
border-color: transparent transparent transparent var(--main-color);

}


.education .right::before{
  content: '';
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid var(--main-color);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--main-color);
  
  }
  
  .education .right::after{
  left:-16px;
  
  }
  
  .education .content{
  background: white;
  color: black;
  position: relative;
  border-radius: 2rem;

  }
  
  
  .education .content .tag{
  font-size: 1.6rem;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  
  }
  
  .education .content .dece{
  margin-left: 1.5rem;
  padding-bottom: 1rem;
  
  }
  
  .education .content .tag h2{
  font-size: 2rem;
  font-weight: 600;
  
  }
  
  .education .content .dece p{
  font-size: 1.3rem;
  font-weight: 500;
  }
  .education .content:hover{
  box-shadow: 0 0 50px white;
  }
  @media screen and (max-width: 600px) {
    .timeline {
      margin-top: 2rem;
    }
    .education .timeline::after {
      left: 31px;
    }
    .education .container {
      width: 100%;
      padding-left: 8rem;
      padding-right: 2rem;
    }
    .education .container::after {
      font-size: 17.5px;
    }
    .education .container::before {
      left: 61px;
      border: medium solid white;
      border-width: 10px 0 10px 10px;
      border-color: transparent var(--main-color) transparent transparent;
    }
    .education .left::after {
      left: 15px;
    }
    .education .right::after {
      left: 15px;
    }
    .education .right {
      left: 0;
    }
  }
  
  /* Skill section */
  
  .skill{
  /* background: var(--second-bg-color); */
  background-image:  linear-gradient(43deg, #ffffff 10%, #ffffff 45%, #00ff0d 100%);
  -webkit-background-clip: text;
  color: transparent;
  margin: 0 auto;
  }
  
  .skill h2{
  margin-bottom: 2rem;
  
  }
  
  .skill-bar{
  margin-top: 8rem;
  padding: 25px 30px;
  background:var(--bg-color) ;
  border: 2px solid var(--main-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  
  }
  
  .skill-bar .bar{
  margin: 20px 0;
  }
  .skill-bar .bar:first-child{
  margin-top: 0;
  
  }
  
  .skill-bar .bar .info{
  
  margin-bottom: 5px;
  }
  .skill-bar .bar .info span{
  color: var(--main-color);
  font-weight: 500;
  font-size: 17px;
  }
  .skill-bar .bar .progress-line{
  height: 10px;
  width: 100%;
  background: white;
  position: relative;
  border-radius: 10px;
  }
  .skill-bar .bar .progress-line span{
  
  height: 100%;
  position: absolute;
  border-radius: 10px;
  background: white;
  cursor: pointer;
  }
  .skill-bar .bar .progress-line.python span{
  width: 70%;
  background: rgb(31, 248, 183);
  }
  .skill-bar .bar .progress-line.html span{
    width: 90%;
    background: rgb(224, 60, 11);
    }
    .skill-bar .bar .progress-line.CSS span{
      width: 80%;
      background: rgb(175, 10, 230);
      }
      .skill-bar .bar .progress-line.JavaScript span{
        width: 75%;
        background: rgb(245, 185, 3);
        }
      .skill-bar .bar .progress-line.MySQL span{
        width: 60%;
        background: rgb(5, 255, 97);
        }
        
        
        /* contect send */

.contact{
/* background: var(--second-bg-color); */
background-image:  linear-gradient(43deg, #3cff00 5%, #0026ff 45%, #00fe0d 100%);
-webkit-background-clip: text;
color: transparent;

}

.contact h2{
margin-bottom: 2rem;

}
.contact form{
max-width: 70rem;
margin: 1rem auto;
margin-bottom: 3rem;
text-align: center;
}
.contact form .input-box{
display: flex;
justify-content: center;
flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
width: 100%;
padding: 1.5rem;
font-size: 1.6rem;
color:var(--text-color);
background: var(--bg-color);
border-radius: 0.8rem;
border: 2px solid var(--main-color);
margin: 1rem 0;
resize: none;
}
.contact form .btn{
margin-top: 2rem;

}


                     /* footer */
                     
.footer{
position: relative;
bottom: 0;
width: 100%;
padding: 40px 0;
background-color: var(--main-color);

}                     
.footer .social{
text-align: center;
padding-bottom: 25px;
color: var(--text-color);
}
.footer .social a{
font-size: 25px;
color: black;
display: inline-block;
margin: 0 10px;
transition: 0.3s ease;
}
.footer .social a:hover{
transform: scale(1.2)translateY(-5px);
text-shadow: 0 0 25px black;
}
.footer ul{
margin-top: 0;
padding: 0;
font-size: 18px;
line-height: 1.6;
margin-bottom: 0;
text-align: center;
}

.footer ul li{
display: inline-block;
padding: 0 15px;

}
.footer ul li a{
  color: var(--text-color);
  transition: transform 0.99s ease, 
  color 0.99s ease;
}

.footer ul li a:hover {
  transform: scale(1.5);
  text-shadow: 0 0 50px black;
  color: #01fe87;
}



  
.footer .copyright{
margin-top: 50px;
text-align: center;
font-size: 16px;
color: black;
}

@media(max-width:1285px){
 html{
 font-size: 55%;
 
 }
 .services-container{
 padding-bottom: 7rem;
 grid-template-columns: repeat(1,1fr);
 margin: 0 5rem;
 }
}

@media (max-width:991px){
.header{
padding: 2rem 3%;
}
section{
padding: 5rem 3% 2rem;

}
.services{
padding-bottom: 7rem;

}
.footer{
padding: 2rem 3%;

}
}

@media (max-width:895){
  .services h2{
  margin: bottom 3rem;
  }
  .services-container{
  grid-template-columns: repeat(1,1fr);
  
  }

}